<div class="container text-center">
    <div class="shell">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="wsk-cp-product" style="height: 600px;">
                        <div class="wsk-cp-img">
                            <img id="myImg"
                                src="https://i.blogs.es/b0f56b/650_1000_the-office-season-9/1366_2000.jpg"
                                alt="Snow" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
                        </div>
                        <div class="wsk-cp-text">
                            <div class="category">
                                <span>The office</span>
                            </div>
                            <div class="title-product">
                                <h3>Comedia</h3>
                            </div>
                            <div class="">
                                <p>mas info</p>
                                <p>mas info</p>
                                <p>Año</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="wsk-cp-product" style="height: 600px;">
                        <div class="wsk-cp-img">
                            <img id="myImg"
                                src="https://i.blogs.es/b0f56b/650_1000_the-office-season-9/1366_2000.jpg"
                                alt="Snow" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
                        </div>
                        <div class="wsk-cp-text">
                            <div class="category">
                                <span>The office</span>
                            </div>
                            <div class="title-product">
                                <h3>Comedia</h3>
                            </div>
                            <div class="">
                                <p>mas info</p>
                                <p>mas info</p>
                                <p>Año</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="wsk-cp-product" style="height: 600px;">
                        <div class="wsk-cp-img">
                            <img id="myImg"
                                src="https://i.blogs.es/b0f56b/650_1000_the-office-season-9/1366_2000.jpg"
                                alt="Snow" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
                        </div>
                        <div class="wsk-cp-text">
                            <div class="category">
                                <span>The office</span>
                            </div>
                            <div class="title-product">
                                <h3>Comedia</h3>
                            </div>
                            <div class="">
                                <p>mas info</p>
                                <p>mas info</p>
                                <p>Año</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="wsk-cp-product" style="height: 600px;">
                        <div class="wsk-cp-img">
                            <img id="myImg"
                                src="https://i.blogs.es/b0f56b/650_1000_the-office-season-9/1366_2000.jpg"
                                alt="Snow" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
                        </div>
                        <div class="wsk-cp-text">
                            <div class="category">
                                <span>The office</span>
                            </div>
                            <div class="title-product">
                                <h3>Comedia</h3>
                            </div>
                            <div class="">
                                <p>mas info</p>
                                <p>mas info</p>
                                <p>Año</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="wsk-cp-product" style="height: 600px;">
                        <div class="wsk-cp-img">
                            <img id="myImg"
                                src="https://i.blogs.es/b0f56b/650_1000_the-office-season-9/1366_2000.jpg"
                                alt="Snow" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
                        </div>
                        <div class="wsk-cp-text">
                            <div class="category">
                                <span>The office</span>
                            </div>
                            <div class="title-product">
                                <h3>Comedia</h3>
                            </div>
                            <div class="">
                                <p>mas info</p>
                                <p>mas info</p>
                                <p>Año</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="wsk-cp-product" style="height: 600px;">
                        <div class="wsk-cp-img">
                            <img id="myImg"
                                src="https://i.blogs.es/b0f56b/650_1000_the-office-season-9/1366_2000.jpg"
                                alt="Snow" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
                        </div>
                        <div class="wsk-cp-text">
                            <div class="category">
                                <span>The office</span>
                            </div>
                            <div class="title-product">
                                <h3>Comedia</h3>
                            </div>
                            <div class="">
                                <p>mas info</p>
                                <p>mas info</p>
                                <p>Año</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="wsk-cp-product" style="height: 600px;">
                        <div class="wsk-cp-img">
                            <img id="myImg"
                                src="https://i.blogs.es/b0f56b/650_1000_the-office-season-9/1366_2000.jpg"
                                alt="Snow" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
                        </div>
                        <div class="wsk-cp-text">
                            <div class="category">
                                <span>The office</span>
                            </div>
                            <div class="title-product">
                                <h3>Comedia</h3>
                            </div>
                            <div class="">
                                <p>mas info</p>
                                <p>mas info</p>
                                <p>Año</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="wsk-cp-product" style="height: 600px;">
                        <div class="wsk-cp-img">
                            <img id="myImg"
                                src="https://i.blogs.es/b0f56b/650_1000_the-office-season-9/1366_2000.jpg"
                                alt="Snow" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
                        </div>
                        <div class="wsk-cp-text">
                            <div class="category">
                                <span>The office</span>
                            </div>
                            <div class="title-product">
                                <h3>Comedia</h3>
                            </div>
                            <div class="">
                                <p>mas info</p>
                                <p>mas info</p>
                                <p>Año</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="wsk-cp-product" style="height: 600px;">
                        <div class="wsk-cp-img">
                            <img id="myImg"
                                src="https://i.blogs.es/b0f56b/650_1000_the-office-season-9/1366_2000.jpg"
                                alt="Snow" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
                        </div>
                        <div class="wsk-cp-text">
                            <div class="category">
                                <span>The office</span>
                            </div>
                            <div class="title-product">
                                <h3>Comedia</h3>
                            </div>
                            <div class="">
                                <p>mas info</p>
                                <p>mas info</p>
                                <p>Año</p>
                            </div>

                        </div>
                    </div>
                </div>

        



        </div>
        <!--fIN LINEA TRES OBRAS-->

    </div>

</div>

<!--TERMINA TARJETAS -->
