<!--Inicio Navbar-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container-fluid">
    <input class="navbar-brand" type="image" src="" />


   
    
         <!-- Barra de búsqueda -->
         <div class="container-fluid d-flex justify-content-between">
          <div class="mx-auto">
         <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
        <!-- Fin de la barra de búsqueda -->
        
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item mx-3 ms-auto">
          <a class="nav-link active" aria-current="page" href="">
            Registrar
          </a>
        </li>
        <li class="nav-item mx-3 ms-auto">
          <a class="nav-link" routerLink="/muebles" routerLinkActive="activebutton" href= ""> Entrar </a>
        </li>
       

        
      </ul>

 

    </div>
  </div>
</nav>
<!--Fin Navbar-->
