 <!--Inicio del carrusel-->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 3"></button>

    </div>
    <div class="carousel-inner">
            <div class="carousel-item active" style="height: 500px;">
                <img src="{{'https://image.tmdb.org/t/p/original'+topSeries[0].backdrop_path}}" height="500px">
                <div class="container">
                    <div class="carousel-caption text-start texto-tarjeta">
                        <h1>{{topSeries[0].name}}</h1>
                        <p style="text-align: center;">{{topSeries[0].overview}}</p>
                        <p style="text-align: center;"><a class="btn btn-lg btn-primary" href="#">Ir a Series</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="height: 500px;">
                <img src="{{'https://image.tmdb.org/t/p/original'+topSeries[1].backdrop_path}}" height="500px">
                <div class="container">
                    <div class="carousel-caption text-start texto-tarjeta">
                        <h1>{{topSeries[1].name}}</h1>
                        <p style="text-align: center;">{{topSeries[1].overview}}</p>
                        <p style="text-align: center;"><a class="btn btn-lg btn-primary" href="#">Ir a Series</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="height: 500px;">
                <img src="{{'https://image.tmdb.org/t/p/original'+topSeries[2].backdrop_path}}" height="500px">
                <div class="container">
                    <div class="carousel-caption text-start texto-tarjeta">
                        <h1>{{topSeries[2].name}}</h1>
                        <p style="text-align: center;">{{topSeries[2].overview}}</p>
                        <p style="text-align: center;"><a class="btn btn-lg btn-primary" href="#">Ir a Series</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="height: 500px;">
                <img src="{{'https://image.tmdb.org/t/p/original'+topSeries[3].backdrop_path}}" height="500px">
                <div class="container">
                    <div class="carousel-caption text-start texto-tarjeta">
                            <h1>{{topSeries[3].name}}</h1>
                            <p style="text-align: center;">{{topSeries[3].overview}}</p>
                            <p style="text-align: center;"><a class="btn btn-lg btn-primary" href="#">Ir a Series</a></p>
                    </div>
                </div>
            </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--Fin del carrusel-->