


 <!--Inicia Header-->
 <div class="row   gx-0 pt-5">
    <div class="p-5 text-center text-white col-lg-4 col-md-4 d-flex flex-column justify-content-center align-items-center" style="background-color: #9a5833 ;height: 400px;">
      <h1 class="mb-3">Bienvenidos</h1>
      <h5 class="font-italic mb-0">"Deja que te llevemos a un mundo de cine y emociones".
      </h5>

    </div>
    <div class="p-5 text-center bg-cover col-lg-8 col-md-8"
      style="background-image: url(https://images.pexels.com/photos/3945321/pexels-photo-3945321.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)">
    </div>
  </div>
  <!--termina header-->