<div class="footer">
    <img class="Logo" src="../../../assets/images/Logo.png" alt="LogoSantiMovies">
    <div>
        <table class="table-footer">
            <tr>
                <th>Películas</th>
                <th>Series</th>
            </tr>
            <tr>
                <td>Populares</td>
                <td>Populares</td>
            </tr>
            <tr>
                <td>Últimos lanzamientos</td>
                <td>Últimos lanzamientos</td>
            </tr>
            <tr>
                <td>Mejores Valoradas</td>
                <td>Mejores Valoradas</td>
            </tr>
            <tr>
                <td>Próximamente</td>
                <td>Próximamente</td>
            </tr>
        </table>
    </div>
</div>

<!-- © 2023 Copyright: -->