 <!--Inicio del carrusel-->
 <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 3"></button>

    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/13/Peaky_Blinders_Logo.png" height="500px">

            <div class="container">

                <div class="carousel-caption text-start">
                    <h1>PELICULA</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius impedit libero possimus, sed architecto perferendis eum maiores reiciendis vitae dicta, assumenda beatae quidem porro aspernatur incidunt quo ut? Eveniet, consequuntur!</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Mirar Catalago</a></p>
                </div>
            </div>


        </div>
        <div class="carousel-item">
            <img src="https://i.blogs.es/0422da/primal/1366_2000.jpeg" height="500px">
            <div class="container">
                <div class="carousel-caption">
                    <h1>PELICULA</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, quaerat nisi! Commodi, amet ea? Voluptate, possimus a perferendis commodi tempore labore accusantium odit neque error nobis, aut voluptas corrupti numquam.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Mirar Catalago</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRw-6_oL0CNI-lHX7NdKCzBtDofuOmHMCZClhmqjfYfPk_7NOuPy_W7krQFzuUhJX-_coc&usqp=CAU" height="500px" >

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>PELICULA</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos beatae alias autem, laudantium minus cum facilis nemo dolor? Sint facere inventore amet repellendus pariatur placeat accusamus fugiat unde eveniet veritatis?</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Ver Catalago</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://i.blogs.es/6aa33b/peaky-blinders/1366_2000.jpeg" height="500px" width="500" >
            <div class="container">
                <div class="carousel-caption">
                    <h1>PELICULA</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, eum ea earum expedita necessitatibus distinctio mollitia, sint excepturi maxime quisquam iste quas maiores. Facilis exercitationem aliquam deleniti nulla minima accusantium.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Ver Catalago</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://i.blogs.es/6aa33b/peaky-blinders/1366_2000.jpeg" height="500px">
            <div class="container">
                <div class="carousel-caption">
                    <h1>NOMBRE</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos vero perspiciatis sequi. Aut nihil sunt consequatur doloremque? Sed deleniti, dolores aliquid minima repudiandae explicabo asperiores sit doloribus optio aperiam ipsum..</p>
                    <p><a class="btn btn-lg btn-primary" href="#">PELICULA</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!--Fin del carrusel-->